@import 'tailwindcss';
@tailwind utilities;

@theme {
  --main-max-width: 940px;
  --TY-Text-1: #2c2c36;
  --TY-Line-1: #e8eaf2;
}
@layer components {
  .ellipsis-1 {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}